<% form_for(@account)  do |f| %>
<fieldset>
<legend>Log In</legend>
<ul>
  <li><%= f.label :uname, "User Name:" %></li>
  <li><%= f.text_field :uname %></li>
  <li><%= f.label :password, "Password: " %></li>
  <li><%= f.password_field :password %></li>
  <li class="submit"><%= f.submit 'Log In' %></li>
</ul>
</fieldset>
<% end %>
